<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExampleVue from "./components/HelloWorldExample.vue";
import HandingUserInputVue from "./components/HandingUserInput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionAndLoopsVue from "./components/ConditionAndLoops.vue";
import FormBindingsVue from "./components/FormBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue />
    <br />
    <br />
    <FormBindingsVue />
    <br />
    <br />
    <ConditionAndLoopsVue />
    <br />
    <br />
    <br />
    <AttributeBindingsVue />
    <HandingUserInputVue />
    <CalComponentVue />
    <HelloWorldExampleVue />
  </div>
</template>

<style scoped></style>
